
/*-----------------------------Welcome------------------------------------*/
.document-welcome{
    width: 800px;
    margin: auto;
}
.document-welcome p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}


/*-----------------------------Welcome------------------------------------*/