body{
    margin: 0px auto;
}
#header{
    height: 30px;
    background-color: #003478;
    line-height: 30px;
    position: fixed;
    width: 100%;

}
.container{
    width: 700px;
    height: 30px;
    margin: auto;
    display: flex;
}
.container-title-wru{
}
.container-title-wru a{
    text-decoration: none;
}
.container-title-wru a p{
    color: white; 
    margin: 0px;
}
.container-title-wru a p:hover{
    transition: 1s ease;
    color: red;
}
.contain-img{
    height: 15px;
    width: 20px;
}
.contain-img img{
    width: 100%;
    height: 100%;
    position: relative;
    top: 2px;
}
/*8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
#title-img{
    height: 110px;
    width: 100%;
    position: relative;
    top: 60px;
}
.container-title-img{
    margin: auto;
    width: 1000px;
    height: 100%;
}
.contain-title-img{
    width: 800px;
    height: 100%;
    float: left;
}
.contain-title-img a{
    display: block;
}
.contain-title-img img{
    height: 100%;
    width: 100%;
}
/*8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
#nav{
    height: 30px;
    width: 100%;
    position: relative;
    top: 70px;
    border-bottom: rgb(160, 160, 236) solid 0.02px;
}
.nav-contain{
    width: 1070px;
    height: 30px;
    margin: auto;
    display: flex;
    
}
.nav-contain ul{
    list-style-type: none;
    display: flex;
    height: 30px;
    margin: 0x;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.nav-contain ul li{
    height: 30px;
    font-weight: 950;
    font-family: tahoma;
    padding: 0px 10px;
    border-left: 1px dotted #808080;
    font-size: 12px;
    position: relative;
}
.nav-contain ul li a{
    text-decoration: none;
    color: black;
    line-height: 30px;
    display: block;
}
.nav-contain li:hover{
    background-color: rgb(26, 72, 132);
    transition: 0.6s ease;
}
.nav-contain li a:hover{
    color: white;
}
.nav-contain li:hover .nav-contain-list{
    display: block;
}
.nav-contain-list{
    position: absolute;
    left: 0px;
    padding-top: 10px;
    height: 120px;
    width: 155px;
    background-color:rgb(26, 72, 132);
    z-index: 1;
    border-top: 10px solid white;
    display: none;
    margin-top: 1px;
}
.nav-contain-list ul{
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.nav-contain-list ul li{
    border: none;
    color: white;
    margin-bottom: 10px;
}
.nav-contain-list ul li a{
    height: 20px;
    line-height: 20px;
    color: aliceblue;
}
.nav-contain-list ul li a:hover{
    background-color: #aca7a7;
}
/*8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
#content{
    width: 100%;
    height: 900px;
    position: relative;
    top: 100px;
}
.content-contain{
    width: 1000px;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 700px 300px;
    grid-template-areas: "content-contain1 content-contain2" 
}
.content-contain1{
    display: grid;
    grid-template-rows: 300px 20px 535px;
    grid-template-areas: "slider""dot-contain""introduction";
}
.slider{
    height: 300px;
    width: 700px;
    position: relative;
    margin: auto;
}
.slider img{
    height: 100%;
    width: 100%;
}
.slider a:hover{
    box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#next, #prev{
    position: absolute;
    top: 120px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding: 20px 10px 20px 10px;
    border-radius: 0 3px 3px 0;
    transition: 0.6s ease;
}
#next{
    right: 0px;
    border-radius: 3px 0 0 3px;
}
#prev:hover, #next:hover{
    background-color: rgba(0,0,0,0.8);
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.checked{
    display: none;
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.4s ease;
}
.active, .dot:hover {
    background-color: #717171;
  }  
.introduction{
    display: flex;
}
.introduction-container{
    width: 33.333%;
    height: 535px;
    border-left: 1px dotted #ccc;
}
.introduction-contain-img{
    width: 200px;
    height: 170px;
    margin: 20px auto 5px;
    position: relative;
}
.middle{
    width: 100%;
    height: 25%;
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 60px;
    text-align: center;
}
.introduction-contain-img img{
    opacity: 1;
    transition: 0.6s ease;
    width: 100%;
    height: 100%;
}
.introduction-contain-img:hover img{
    opacity: 0.3;
}
.introduction-contain-img:hover .middle{
    opacity: 1;
}
.middle-text{
    background-color: rgba(76, 2, 248, 0.7);
    color: white;
    font-size: 16px;
    line-height: 50px;
    text-transform: uppercase;
}
.introduction-contain-text{
    height: 20px;
    width: 200px;
    margin: 0px auto;
    font-size: 20px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #003478;
    padding-top: 10px;
}
.content-contain2{
    margin-left: 20px;
}
/*8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
.loginForm{
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    padding-top: 60px;
}
.loginForm-content{ 
    background-color: rgba(0,0,0,0.4);
    border: 1px solid #888;
    height: 500px;
    width: 500px;
    margin: auto;
}
.loginForm-contain-title{
    height: 50px;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.loginForm-title{
    line-height: 50px;
    font-size:30px;
    color: white;
}
.loginForm-container-input{
    height: 34px;
    width: 100%;
    padding: 30px 0px 0px 0px;
}
.loginForm-contain-input{
    height: 34px;
    width: 400px;
    margin: auto;
}
.loginForm-input{
    height: 30px;
    width: 100%;
    margin: center;
    background-color: rgba(0,0,0,0.4);
    border: green 1px solid;
    padding-left: 20px;
    color: white;
}
.loginForm-container-register{
    height: 34px;
    width: 180px;
    padding: 30px 0px 0px 0px;
}
.loginForm-contain-register{
    height: 34px;
    width: 180px;
    margin: auto;
}
/* Chrome, Opera, Safari */
::-webkit-input-placeholder {
    font-style: italic;
    color: white;
}
  
/* Firefox 19+ */
::-moz-placeholder {
    font-style: italic;
}
  
/* IE 10+ */
:-ms-input-placeholder {
    font-style: italic;
}
  
/* Firefox 18- */
:-moz-placeholder {
    font-style: italic;
}
.loginForm-login{
    height: 34px;
    width: 200px;
    margin: auto;
    background-color: green;
    text-align: center;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover{
    opacity: 0.8;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
/*8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
#footer{
    width: 100%;
    height: 300px;
    background-color: #003478;
}
.footer-container{
    width: 1000px;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: 225px 75px;
    grid-template-areas: "footer-above""footer-below";
}
.footer-above{
    height: 225px;
    width: 1000px; 
    display: flex;   
}
.footer-above-content{
    width: 250px;
    height: 225px;
    padding: 30px 10px 5px 5px;
}
.footer-above-content ul{
    border-right: 1px dashed white;
    list-style-type: none;
    padding-left: 10px;
}
.footer-above-content ul li{
    padding-bottom: 10px;
}
.footer-above-content ul li a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.footer-above-content ul li a:hover{
    color: orangered;
    transition: 1s ease;
}
.footer-below{
    width: 1000px;
    height: 75px;
    display: flex;
}
.footer-below img{
    height: 72px;
    width: 150px;
    padding-right: 20px;
}
.footer-below-title{
    width: 850px;
    height: 75px;
}
.footer-below-title p{
    margin: 15px 0px 0px 0px;
    color: white;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-below-title p a{
    color: white;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.footer-below p a:hover{
    color: orangered;
    transition: 1s ease;
}