body{
    margin: 0px auto;
}
#header{
    height: 30px;
    background-color: #003478;
    line-height: 30px;
    position: fixed;
    width: 100%;

}
.container{
    width: 60%;
    height: 30px;
    margin: auto;
    display: flex;
}
.contain-img{
    height: 15px;
    width: 20px;
}
.contain-img img{
    width: 100%;
    height: 100%;
    position: relative;
    top: 2px;
}
/*8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
#title-img{
    height: 110px;
    width: 100%;
    position: relative;
    top: 60px;
}
.contain-title-img{
    width: 60%;
    height: 100%;
    margin-left: 200px
}
.contain-title-img img{
    height: 100%;
    width: 100%;
}
/*8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
#nav{
    height: 30px;
    width: 100%;
    position: relative;
    top: 70px;
    border-bottom: #003478 solid 1px;
}
.nav-contain{
    width: 75%;
    height: 30px;
    margin: auto;
    display: flex;
    
}
.nav-contain ul{
    list-style-type: none;
    display: flex;
    height: 30px;
    margin: 0x;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.nav-contain ul li{
    height: 30px;
    font-weight: 850;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px 10px;
    border-left: 1px dotted #808080;
    font-size: 10px;
    position: relative;
}
.nav-contain ul li a{
    text-decoration: none;
    color: black;
    line-height: 30px;
    display: block;
}
.nav-contain li:hover{
    background-color: blue;
    transition: 0.6s ease;
}
.nav-contain li a:hover{
    color: white;
}
.nav-contain-list{
    position: absolute;
    left: 0px;
    margin-top: 10px;
    height: 150px;
    width: 130px;
    background-color: blue;
    z-index: 1;
}
.nav-contain-list ul{
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.nav-contain-list ul li{
    padding: 10px 5px 10px 5px;
}
/*8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888*/
#content{
    width: 100%;
    height: 900px;
    position: relative;
    top: 100px;
}
.content-contain{
    width: 75%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 700px 300px;
    grid-template-areas: "content-contain1 content-contain2" 
}
.content-contain1{
    display: grid;
    grid-template-rows: 300px 600px;
    grid-template-areas: "slider""introduction";
}
.slider{
    height: 300px;
    width: 700px;
    position: relative;
}
.slider img{
    height: 100%;
    width: 100%;
}
#next, #prev{
    position: absolute;
    top: 100px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 25px;
    padding: 20px 10px 20px 10px;
    border-radius: 0 3px 3px 0;
    transition: 0.6s ease;
}
#next{
    right: 0px;
    border-radius: 3px 0 0 3px;
}
#prev:hover, #next:hover{
    background-color: rgba(0,0,0,0.8);
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.checked{
    display: none;
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.4s ease;
}
.active, .dot:hover {
    background-color: #717171;
  }  
.introduction{

}
.content-contain2{
}